body{
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    height: 189px;
    margin-top:63px;;
    display: flex;
    flex-flow: row wrap;
}

header h1{
    width: 334px;
    height: 79px;
    margin-bottom: 38px;
}

.logo1:before {
        color: #000000;
        content: "Ra";
}

.logo1{
    text-decoration: none;
    color: #4BCAFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
}

.topbar{
    background-color: #35444F;
    width: 1280px;
    height: 72px;
}

.topbar-items{
    text-decoration: none;
    display: flex;
    flex-flow: row wrap;
}

 .topbar li:hover{
    background-color: rgba(34, 47, 58, 1);
    display: block;
}

.topbar a{
    display: block;
    padding-top: 26px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.topbar-items li{
    height: 72px;
}

.topbar-items li:nth-child(1){
    margin-left: 162px;
    padding-left: 32px;
    padding-right: 33px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.topbar-items li:nth-child(2){
    padding-left: 36px;
    padding-right: 37px;
    border-right: 1px solid #FFFFFF;
}

.topbar-items li:nth-child(3){
    padding-left: 40px;
    padding-right: 40px;
    border-right: 1px solid #FFFFFF;
}

.topbar-items li:nth-child(4){
    padding-left: 40px;
    padding-right: 42px;
    border-right: 1px solid #FFFFFF;
}

main {
    margin-top: 48px;
    display: flex;
    flex-direction: row wrap;
}

.container{
    width: 885px;
    margin-left: 52px;
}

.sidebar{
    width: 344px;
    height: 399px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.sidebar ul{
    height: 399px;
    display: flex;
    flex-flow: column wrap;
}

.sidebar a{
    display: block;
    padding-left: 44px;
    height: 27.8px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}

.sidebar li a:nth-child(1){
    padding-top: 26px;
    padding-bottom: 26px;
}

.sidebar li a:nth-child(2){
    padding-top: 26px;
    padding-bottom: 26px
}

.sidebar li a:nth-child(3){
    padding-top: 26px;
    padding-bottom: 26px
}

.sidebar li a:nth-child(4){
    padding-top: 26px;
    padding-bottom: 26px
}

.sidebar li a:nth-child(5){
    padding-top: 26px;
    padding-bottom: 26px
} 

.sidebar li a:hover{
        background: #DBDBDB;;
        padding-left: 75px;
        color: #000000;
}

.main-picture{
    height: 529px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.main-picture img{
    margin-top: 75px;
    margin-left: 297px;
}

.main-picture img:hover{
    transform: scale(1.1);
}

.container p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(44, 44, 44, 1);
}

.first-textcontent{
    margin-top: 37px;
}

.second-textcontent{
    margin-top: 37px;
}

.bottombar {
    width: 100%;
    height: 69px;
    margin-top: 54px;
    margin-bottom: 30px;
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.bottombar ul{
    width: 875px;
    height: 28px;
    margin-left: 40px;
    text-decoration: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.bottombar a{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.bottombar .flag{
    width: 190px;
    margin-right: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

.bottombar a:hover{
    color: rgba(49, 129, 166, 1);
    padding-bottom: 13px;
    border-bottom: 1px solid #3181A6;
}